@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    
@await Html.PartialAsync("PartialHead")

<body>
    <!-- Nav Bar Start -->
    @await Html.PartialAsync("PartialNavbar")
    <!-- Nav Bar End -->
    <!-- Carousel Start -->
    @await Component.InvokeAsync("_SliderListComponentPartial")
    <!-- Carousel End -->
    <!-- Booking Start -->
    @await Html.PartialAsync("CreateBooking")
    
    <!-- Booking End -->
    @await Html.PartialAsync("PartialAbout")
    <!-- Feature Start -->
    @await Html.PartialAsync("PartialFeature")
  
    <!-- Feature End -->
    <!-- Food Start -->
    @await Component.InvokeAsync("_FoodListComponentPartial")
    
    <!-- Food End -->
    <!-- Menu Start -->
    @await Component.InvokeAsync("_MenuListComponentPartial")
    <!-- Menu End -->
    <!-- Team Start -->
    @await Component.InvokeAsync("_ChefListComponentPartial")
    <!-- Team End -->
    <!-- Testimonial Start -->
    @await Component.InvokeAsync("_TestimonialListComponentPartial")
    <!-- Testimonial End -->
    <!-- Contact Start -->
    @await Html.PartialAsync("PartialContact")
    <!-- Contact End -->
    <!-- Blog Start -->
    
    <!-- Blog End -->
    <!-- Footer Start -->
    @await Html.PartialAsync("PartialFooter")
    <!-- Footer End -->
   @await Html.PartialAsync("PartialScript")
</body>
</html>
